.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: max-content;
  margin-right: 10px;
  margin-bottom: 20px;
  .subscribe-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    .user-photo {
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
    }
    .subscribe-button {
      width: 100px;
      height: 25px;
      background: #197aa8;
      border-radius: 8px;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
  .info-wrapper {
    border-radius: 8px;
    padding: 5px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .status {
      margin-top: 10px;
      font-size: 10px;
    }
  }
}